{% extends 'base.html' %}
{% block title %}Створити конференцію{% endblock %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="border p-4 rounded mt-4" style="min-width: 400px; max-width: 600px;">
        <h2 class="text-center mb-4">Створити конференцію</h2>
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Назва конференції</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Опис конференції</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="start_time" class="form-label">Час початку</label>
                <input type="datetime-local" class="form-control" id="start_time" name="start_time" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Створити</button>
        </form>
    </div>
</div>
{% endblock %}